<nav class="navbar bg-primary navbar-expand rounded-1">
  <div class="container-fluid justify-content-start">
    <%= link_to I18n.t('activerecord.models.proponent.other'), proponents_path, class: "navbar-brand text-light" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to I18n.t('report'), reports_path, class: "nav-link active text-light" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>